@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold mb-4 sm:text-5xl text-darkSlateGrey;
}

p {
  @apply text-corchoalGrey sm:text-sm;
}

.button {
  @apply text-white rounded-md bg-darkSlateGrey h-12 font-bold;
}

button:hover {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  cursor: pointer;
}
