@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold mb-4 text-darkSlateGrey;
}

p {
  @apply text-corchoalGrey;
}

button {
  @apply text-white rounded-md bg-darkSlateGrey h-12 font-bold;
}

button:hover {
}
